body {
	overflow:hidden; 		/* needed to eliminate scrollbars caused by the background image */
	padding:0;margin:0;		/* necesarry for the raster to fill the screen */
	height:100%;width:100%;
}

#bgimg {
	position:absolute;
	z-index: -1;
}

#realBody{
	position:absolute;
	z-index: 5;				/* Place the new body above the background image */
	overflow:auto; 			/* restore scrollbars for the content */
	height:100%;width:100%;	/* Make the new body fill the screen */
	background: url('../img/raster.png'); /* this is just a fancy raster, you can remove it; I kinda like it though */
}

/* 
	The following CSS code is for illustrative purposes, and is NOT necesarry for the fullscreenr plugin to work
*/

#exampleDiv {
	width:100%;
	background:#000;
	position:absolute;
	top: 50px;
	text-align:center;
	padding:10px 0;
}

	#exampleDiv a {
		color:#fff;
		font-family:Verdana;
		font-size:12px;
		text-decoration:none;
	}

	#exampleDiv a:hover {
		background:#fff;
		color:#000;
	}